# Build and Conan
build/
cmake-build-*/
install/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
conanbuild*
conanrun*
conan.lock
*.o
*.obj
*.so
*.a
*.dylib
*.dll
*.exe
*.log
*.tmp
*.swp
*.DS_Store
# VSCode/CLion/IDE
.idea/
.vscode/
# Test output
Testing/
# Doxygen
html/
latex/
# Coverage
*.gcda
*.gcno
*.gcov
coverage/
CMakeUserPresets.json
build-test/